.Rproj.user
.Rhistory
.RData
.Ruserdata
Moreno_et_al-2015-International_Journal_of_Climatology.pdf
Description_Evaluation_Validation_Downscaled_Climate_Data_v2.pdf
DownscaledPrcp2017.tif
DownscaledTotalPrcp2017.tif
cogeo.tif
cogeo_big.tif
inst/doc
docs
